.card {
    background-color: #ff3358;
    font-size: 2rem;
    color: white;
    border-radius: 5px;
    width: 3.7rem;
    height: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61 73, 0.5);
    cursor: pointer;
}