.card {
    background-color: #447ce5;
    font-size: 2rem;
    color: #ffffff;
    border-radius: 5px;
    width: 3.7rem;
    height: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61 73, 0.5);
    cursor: pointer;
}

.hide {
    display: none;
}

.disable {
    pointer-events: none;
}

.selected {
    background-color: #808080;
}

.won {
    pointer-events: none;
    background-color: #008000;
}

.loose {
    pointer-events: none;
    background-color: #d35050;
}
